.env

.idea/*

.idea

.DS_Store

.ipynb_checkpoints

#
models/
catboost_info/

cifar*
cifar*.*

/02_cnn/data/checkpoints/resnet18-f37072fd.pth
/02_cnn/models/resnet18_svhn_state_dict.joblib
/02_cnn/data/train_32x32.mat
/02_cnn/data/test_32x32.mat


